.container {
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: 1fr 2.2fr 1fr;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
}

.wrapper > img {
  width: 27rem;
  top: -0.3rem;
  height: 22rem;
  position: absolute;
  bottom: 0rem;
  border-radius: 50%;
}

.blueCircle {
  width: 23rem;
  height: 22rem;
  border-radius: 50%;
  z-index: -99;
  position: absolute;
  bottom: 0;

  background-color: rgb(211, 197, 158);
}
.cart2 {
  position: absolute;
  bottom: 14%;
  right: -21%;
  display: flex;
  gap: 1rem;
  align-items: center;
  block-size: 5px;
}

.cart2 > svg {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  border: 6px solid var(--black);
}
.signup {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 15px;
  box-shadow: var(--shadow1);
}
.signup > :first-child {
  display: block;
  width: 6rem;
}
.signup > :nth-child(2) {
  border-radius: 50%;
  border: 1px solid skyblue;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.signup > :nth-child(2):hover {
  cursor: pointer;
  background-color: rgb(233, 238, 243);
}

.h_sides {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.text1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: min-content;
  display: block;
  font-weight: 600;
}

.text2 {
  display: flex;
  flex-direction: column;
  width: min-content;
  color: black;
}
.text2 > :first-child {
  font-weight: 800;
  font-weight: 2.5rem;
}
.text2 > :nth-child(2) {
  display: block;
}

.traffic {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.traffic > :first-child {
  margin-top: 4rem;
  font-weight: 800;
  font-size: 2.5rem;
}
.traffic > :nth-child(2) {
  font-size: 11px;
}
.customers {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.customers > :first-child {
  font-weight: 800;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .blueCircle {
    top: 14px;
    width: 9rem;
    /* height: 52%; */
    height: 12rem;
    background-color: none;
  }
  .wrapper > img {
    top: 2rem;
    width: 12rem;
    height: 11.5rem;
  }
  .cart2 {
    transform: scale(0.6);
    position: absolute;
    bottom: -2rem;
    left: -5rem;
  }
  .text1 {
    font-size: 8px;
  }
  .text2 {
    position: absolute;
    top: 10rem;
    left: 1rem;
  }
  .text2 > span:nth-child(1) {
    font-size: 10px;
  }
  .text2 > span:nth-child(2) {
    font-size: 8px;
  }

  .traffic {
    display: flex;
  }
  .traffic > span:nth-child(2) {
    font-size: 6px;
    margin-bottom: 15px;
  }

  .traffic > span:nth-child(1) {
    font-size: 12px;
  }
  .customers > span:nth-child(1) {
    font-size: 12px;
  }
  .customers > span:nth-child(2) {
    font-size: 6px;
  }
  .h_sides {
    margin-right: -0.8rem;
  }
}
