.s-container {
  position: relative;
  margin-bottom: -100px;
  margin-top: 88px;
}
.concern {
  font-weight: bolder;
  font-size: 23px;
  font-style: normal;
  color: rgb(57, 43, 24);
}
.name {
  font-size: 14px;
  padding-left: 6.8rem;
}

.img-p {
  height: 200px;
  width: 220px;
  border-radius: 50%;
  border: 1px solid rgb(55, 55, 51);
}
.img-p:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 1000ms;
}
.mySwiper {
  display: flex;
  flex-direction: column;

  height: 300px;
  width: 80%;
  padding-left: 4rem;
}

@media screen and (max-width: 786px) {
  .concern {
    font-size: 13px;
  }
  .left-s {
    display: flex;
    flex-direction: column;
  }
  .name {
    font-size: 16px;
    padding-left: 3.5rem;
  }
  .img-p {
    height: 160px;
    width: 180px;
  }
}
